---
import Layout from '../layouts/Layout.astro';
import { Card } from '../components/Card'
import { getStories, getStory } from './api'
const storyIds = await getStories()
const stories = await Promise.all(storyIds.map(id => getStory(id.toString())))
---

<Layout title="Astro Hacker News">
	<main>Hello Astro</main>
	{stories.map(story => <Card>
		<a href={`/${story.id}`}>
			{story.title}
		</a>
	</Card>)}
</Layout>